
  
<div class='page'>
  <h1> Fuzzy Thesaurus </h1>
  <div class='search-container'>
    <form action='/' method='get'>
      <div class='upper-form'>
        <div class='word-input left-word'>
          <input type='text' name='first_word' class='synonym'  value='<%= @first_word %>'><br>
          <div class='negative-space'> </div>
        </div>
	<div class='word-input right-word'>
          <input type='text' name='second_word' class='synonym' value='<%= @second_word %>'><br>
          <div class='negative-space'> </div>
        </div>
      </div>
      <div class='lower-form'>
        <div class='filter-input'>
	  <div class='submit-wrapper'>
	    <input type='submit' value='Collide'>
          </div>
        </div>
      </div>
    </form>
  </div>
    
  <div class='results-container'>
    <ul>
      <% @results.each do |result| %>
        <li> <%= result %> </li>
      <% end %>
    </ul>
  </div>
</div>
