<h1> Three Short Words </h1>

<form action='/' method='get'>
  Word: <input type='text' name='first_word' value='<%= @first_word %>'><br>
  Word: <input type=text' name='second_word' value='<%= @second_word %>'><br>
  <input type='submit' value='Submit'>
</form>

