// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// debugging styles 
div {
  border: 1px solid red;
}

h1 {
}

.upper-form {
  background-color: orange;
}

.lower-form {
  background-color: yellow;
}


// actual styles
$small: 10px;
$medium: 20px;
$large: 40px;
$xl: 80px;
$block: 160px;

div.page {
  padding: $medium;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.upper-form {
  height: $block + 2*$small + $large;
  position: relative;
}

.lower-form {
  position: relative;
}

.word-input {
  position: absolute;
  top: $small;
  bottom: 0;
  padding: $small;
  opacity: 0.4;
}

.left-word {
  height: $block + $large - $small;
  z-index: 1;
  left: $small;
  right: 20%;
  background-color: blue;
  input {
    float: left;
  }
}

.right-word {
  height: $block - $large;
  z-index: 2;
  right: $small;
  left: 20%;
  top: $xl;
  background-color: green;
  input {
    float: right;
  }
}

.filter-input {
  height: $xl;
  z-index: 3;
  background-color: gray;
  position: absolute;
  top: -$small;
  left: calc(20% - #{$small});
  right: calc(20% - #{$small});
  text-align: center;
  input {
    margin-top: $small;
  }
}

.submit-wrapper {
  position: absolute;
  top: $xl - $small;
  left: 0;
  right: 0;
  text-align: center;  
}

.results-container {
  position: relative;
  top: $xl;
  ul {
    margin-left: 20%;
    margin-right: 20%;
  }
}
